<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if( cartProducts > 0) { %>
            <ul>
                <% for(product of cartProducts) { %>
                    <li>
                        <p><%= product.title %> (<%=product.qty %>)</p>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% } %>
            </ul>
            <% } else { %>
                <h1>Cart is empty</h1>
            <% } %>
              
        </main>
        <%- include('../includes/end.ejs') %>